.dynamiccourse_switchform_div {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFMAAABHCAYAAAB79XuNAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB6SURBVHja7NBBAQAwCASguf5pLXCW0B9EoJL0Y8VXIFOmTGTKlIlMmTJlIlOmTGTKlCkTmTJlIlOmTJnIlCkTmTJlIlOmTJnIlCkTmTJlykSmTJnIlClTJjJlykSmTJkykSlTJjJlykSmTJkykSlTJjLPDAAAAP//AwBQlgR9KmMJSAAAAABJRU5ErkJggg==") repeat scroll 0 0 transparent;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 5px 5px 10px #0C1D2F;
	font-size: 110%;
	padding: 0.5em;
	text-align: left;
	width: 80%;
	margin-left:1em;
	z-index: 1;
}

.mouseovereffect {
	cursor:pointer; 
	background-color:#CCCCFF;
}

.mouseouteffect {
	background-color:white;
}

.mousehover:hover {
	cursor:pointer;
	background-color:#CCCCFF;
}

#dc_slider { margin: 10px; }

.manualset {
	background-color:red;
}

.numberdisplay {
	text-align:right;	
}

.admissionfull {
	background-color:#ffb3b3;
}

.admissionalmost {
	background-color:#feffc7;
}

.admissionnormal {
	background-color:#c1fdd8;
}

.budgetlinebelow {
	border-bottom: 2px solid grey;
}

.budgetlineabove {
	border-top: 2px solid grey;
}
.errortext {
	color: red;
}